@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-circular: var(--font-circular);
  --font-general: var(--font-general);
  --font-robert-medium: var(--font-robert-medium);
  --font-robert-regular: var(--font-robert-regular);
  --font-zentry: var(--font-zentry);
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .hero-heading {
    @apply font-zentry text-5xl font-black uppercase sm:right-10 sm:text-7xl md:text-9xl lg:text-[10rem];
  }

  .special-font b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
