@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-circular: var(--font-circular);
  --font-general: var(--font-general);
  --font-robert-medium: var(--font-robert-medium);
  --font-robert-regular: var(--font-robert-regular);
  --font-zentry: var(--font-zentry);
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .hero-heading {
    @apply font-zentry text-[5rem] font-black uppercase sm:right-10 sm:text-[9rem] md:text-[12rem] lg:text-[14rem];
  }

  .special-font b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 3%, 100% 97%, 0 100%);
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .char-current,
  .char-next {
    display: inline-block;
    will-change: transform, opacity;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
